<h1>Liste des quizzes ({{quizList.length}})</h1>

<div class="row">

  <!-- Ajout de boutons pour dynamiser le tableau -->
<p>
  <button class="btn btn-default" (click)="addQuizz()">Ajouter</button>
  <!-- Methode quick & dirty 
  <button class="btn btn-default" (click)="quizList.push({title:'Dummy Quiz'})">Ajouter</button>-->
  <button class="btn btn-default" (click)="deleteQuizz()">Supprimer</button>
  <!-- Methode quick & dirty 
  <button class="btn btn-default" (click)="quizList.pop()">Ajouter</button>-->
</p>
  
  <!-- Boucle sur la liste des quizzes en appelant une boucle sur la variable quizList -->
  <div class="col-sm-6" *ngFor="let quizz of quizList; let num = index">
    <div class="well" [style.background]="num % 2 === 1 ? 'lightyellow' : 'lightblue'">
      <h2>{{num + 1}} - {{quizz.title}}</h2>
      <p class="lead">{{quizz.description}}</p>
      <div class="text-right">
        <a href="" class="btn btn-info btn-lg">Jouer</a>
      </div>
    </div>
  </div>
</div>




